@use "sass:math";

@use '../../../../style/include';
@use "../../../../style/colors";
@use "../../../../style/typography";
@use "../../../../style/variables";

$nav-item-height: (math.div(24px, variables.$base-rem) + rem);
$nav-item-padding-inline: (math.div(12px, variables.$base-rem) + rem);
$nav-item-padding-block: (math.div(4px, variables.$base-rem) + rem);

:host {
    height: $nav-item-height;
    border-radius: variables.$border-radius;
    background-color: colors.$secondary-color;
    padding: $nav-item-padding-block $nav-item-padding-inline;
    font-weight: typography.$font-weight-bold;
    color: colors.$text-black-color;
    line-height: 100%;

    &.active {
        background-color: colors.$primary-color;
    }
}