// Use rem for all dimensions of elements and use base font size as 16px
@use "sass:math";

$base-rem: 16px !default;

$layout-breakpoint-sm: 600px !default;
$layout-breakpoint-md: 960px !default;
$layout-breakpoint-lg: 1280px !default;
$layout-breakpoint-xl: 1920px !default;

// Grid layout helper spacers
$spacing-micro: (math.div(4px, $base-rem) + rem) !default;
$spacing-tiny: (math.div(8px, $base-rem) + rem) !default;
$spacing-small: (math.div(16px, $base-rem) + rem) !default;
$spacing-medium: (math.div(32px, $base-rem) + rem) !default;
$spacing-big: (math.div(48px, $base-rem) + rem) !default;
$spacing-large: (math.div(64px, $base-rem) + rem) !default;
$spacing-huge: (math.div(96px, $base-rem) + rem) !default;

// Reusable style properties
$box-shadow: 0px (math.div(3px, $base-rem) + rem) (math.div(28px, $base-rem) + rem) rgba(0, 0, 0, 0.08);
$border-radius: (math.div(12px, $base-rem) + rem);

// Its not recommended to have odd pixel dimensions, therefore rounded it to have even numbers (Grid Layout)
$header-height: (math.div(50px, $base-rem) + rem) !default; // Originally 51
$footer-height: (math.div(100px, $base-rem) + rem) !default; // Originally 99
