@use "sass:math";

@use "../../../../style/include";
@use "../../../../style/variables";

$news-margin-block: (math.div(12px, variables.$base-rem) + rem);

:host {
  width: inherit;
  flex: 1;
  overflow-y: auto;
  padding-inline-start: variables.$spacing-small;
  padding-inline-end: variables.$spacing-small;
  padding-block-start: variables.$spacing-small;
  padding-block-end: variables.$spacing-small;
}

.news-container {
  width: 100%;
}

.news-card-wrapper {
  margin-block-end: $news-margin-block;

  a {
    text-decoration: none;
  }
}
