@use "sass:math";

@use "../../style/include";
@use "../../style/colors";
@use "../../style/mixins";
@use "../../style/responsive";
@use "../../style/typography";
@use "../../style/variables";

$shell-button-line-height: (math.div(22px, variables.$base-rem) + rem);

:host {
  height: inherit;
  width: inherit;
  @include mixins.display-flex;
  @include mixins.flex-wrap(wrap);
  overflow: hidden;
}

.container {
  padding-block-start: variables.$spacing-small;
  padding-block-end: variables.$spacing-small;
  height: calc(100% - #{variables.$footer-height} - #{variables.$header-height});
  @media #{responsive.$md-only} {
    @media #{responsive.$landscape} {
      height: calc(100% - #{variables.$header-height});
    }
  }

  width: 100%;
  @include mixins.display-flex;
  flex-flow: column;

  .nav {
    a {
      margin-inline-end: variables.$spacing-tiny;
      text-decoration: none;
    }
    padding-inline-start: variables.$spacing-small;
    padding-inline-end: variables.$spacing-small;
    align-self: flex-start;
    margin-block-end: variables.$spacing-small;
  }

  .button-wrapper {
    margin-block-start: variables.$spacing-small;
    padding-inline-start: variables.$spacing-small;
    padding-inline-end: variables.$spacing-small;
    position: relative;

    button {
      align-self: flex-end;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: variables.$border-radius;
      height: variables.$spacing-big;
      font-weight: typography.$font-weight-bold;
      background-color: colors.$primary-color;
      line-height: $shell-button-line-height;
      color: #000000;

      .spinner {
        margin-inline-end: 4px;
        @include mixins.spinner(20px, 20px, 2px, colors.$text-black-color);
      }
    }
  }
}

.header {
  width: 100%;
  height: variables.$header-height;
  background-color: #ffffff;
  position: relative;
  align-self: flex-start;
  box-shadow: variables.$box-shadow;

  &::after {
    content: " ";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../images/logo/hackernews_colored.svg);
  }
}

.overlay {
  position: absolute;
  top: variables.$header-height;
  bottom: variables.$footer-height;
  background-color: colors.$secondary-color;
  opacity: 0.7;
  z-index: 999;
  width: 100%;
  display: flex;

  .spinner {
    @include mixins.spinner(40px, 40px, 4px, colors.$text-black-color);
    z-index: 1000;
    margin: auto;
  }
}

.footer {
  //Removed in landscape since space is a constraint
  @media #{responsive.$md-only} {
    @media #{responsive.$landscape} {
      display: none;
    }
  }

  width: 100%;
  height: variables.$footer-height;
  background-color: colors.$primary-color;
  position: relative;
  align-self: flex-end;

  &::after {
    content: " ";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../images/logo/hackernews_dark.svg);
  }
}
