@use "sass:math";

@use "../../../../style/include";
@use "../../../../style/colors";
@use "../../../../style/mixins";
@use "../../../../style/typography";
@use "../../../../style/variables";

//Changed the odd pixel to even number - Original was 123px
$card-height: (math.div(124px, variables.$base-rem) + rem);

$card-body-height: (math.div(44px, variables.$base-rem) + rem);

$card-title-line-height: variables.$spacing-small;
$card-body-line-height: (math.div(14px, variables.$base-rem) + rem);
$card-meta-line-height: (math.div(11px, variables.$base-rem) + rem);

$card-title-margin-block: (math.div(4px, variables.$base-rem) + rem);

$card-line-margin-inline: (math.div(6px, variables.$base-rem) + rem);

$card-clock-margin-inline: (math.div(3px, variables.$base-rem) + rem);
$card-clock-size: (math.div(10px, variables.$base-rem) + rem);

.card-container {
  height: $card-height;
  background-color: #ffffff;
  box-shadow: variables.$box-shadow;
  border-radius: variables.$border-radius;
  padding: variables.$spacing-small;
  @include mixins.display-flex;
  @include mixins.flex-wrap(wrap);

  .title {
    font-weight: typography.$font-weight-bold;
    font-size: 12px;
    line-height: $card-title-line-height;
    margin-block-end: $card-title-margin-block;
    color: colors.$text-black-color;
  }

  .body {
    height: $card-body-height;
    font-weight: typography.$font-weight-normal;
    font-size: 10px;
    line-height: $card-body-line-height;
    color: colors.$text-black-color;
    @include mixins.text-overflow();
  }

  .meta {
    @include mixins.display-flex;

    .clock {
      align-self: center;
      width: $card-clock-size;
      height: $card-clock-size;
      margin-inline-end: $card-clock-margin-inline;
      background-repeat: no-repeat;
      background-size: contain;
      background-position-y: center;
      background-image: url(../../../../images/icon/clock.svg);
    }

    .line {
      margin-inline-start: $card-line-margin-inline;
      margin-inline-end: $card-line-margin-inline;
      width: 1px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position-y: center;
      background-image: url(../../../../images/icon/line.svg);
    }

    .time,
    .comment {
      font-size: 8px;
      line-height: $card-meta-line-height;
      color: colors.$text-grey-color;
      align-self: center;
    }
  }
}
